
.gc-event-table {
}

.gc-event-table-row > td {
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
}

.gc-event-table-row img {
  vertical-align: middle;
}

.gc-event-highlight {
  background-image: linear-gradient(#61CE70, rgba(97, 206, 112, 0.3), rgba(97, 206, 112, 0.3), rgba(97, 206, 112, 0.3), #61CE70);
}

.gc-event-spacer {
}

